@import "tailwindcss";

:root {
  --font-body: var(--font-merriweather);
  --font-ui: var(--font-inter);
  /* Fondo Base */
  --color-background: #FAF9F6;
  --color-background-alt: #F3F3F1;
   /* Texto */
  --color-text-primary: #333333;
  --color-text-secondary: #6A6A6A;

  /* Colores destacados */
   --color-accent: #F5E6CC;
  --color-accent-hover: #E5D5BA;

  /* Colores secundarios / neutros */
  --color-secondary: #BCC7B3;
  --color-muted: #F1F0EB;
  --color-border: #D8D8D8;


 
}
html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
}

nav, footer {
  font-family: var(--font-ui);
}
@layer utilities {
  
.scroll-offset {
  scroll-margin-top: 80px;
}

  /* Backs */
  .bg-background {
    background-color: var(--color-background);
  }
   .bg-background-alt {
    background-color: var( --color-secondary);
  }
  
  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .bg-muted {
    background-color: var(--color-muted);
  }
  /* Texts Colors */
  .text-text-primary {
    color: var(--color-text-primary);
  }
  .text-text-secondary {
    color: var(--color-text-secondary);
  }
  .text-accent {
    color: var(--color-accent);
  }
  .hover\:text-accent-hover:hover {
    color: var(--color-accent-hover);
  }

  .border-color {
    border-color: var(--color-border);
  }

.custom-pagination .swiper-pagination-bullet {
  background-color: var(--color-secondary) !important;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 9999px;
  transition: background-color 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-text-primary) !important; 
}
 

}